<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="/assets/css/Calender-Button.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-Dark-icons.css">
</head>

<body>
<div th:fragment="teacherfragment">
<!--    <input type="hidden" th:value="${tech.id}">-->
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: var(--first-color);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div><a class="navbar-brand" href="/teacher/validate/"><span style="font-family: Adamina, serif;font-size: 20px;color: var(--white-color);">Innovative Things</span> </a></div>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="/teacher/validate/" style="color: rgba(224,217,217,0.9);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/addmysubject/" style="color: rgba(224,217,217,0.9);">Add Subject</a></li>
<!--                    <li class="nav-item"><a class="nav-link" th:href="@{/teacher/lecture/entry/{id}/(id=${tech.id})}" style="color: rgba(224,217,217,0.9);">Mark Attendance</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="#" style="color: rgba(224,217,217,0.9);">Attendance Report</a></li>
                    <li class="nav-item"><a class="nav-link" href="/summeryreport/" style="color: rgba(224,217,217,0.9);">Attendance Summery</a></li>
                    <li class="nav-item"><a class="nav-link" href="/passkey/" style="color: rgba(224,217,217,0.9);">Passkey</a></li>
                </ul>
                <p class="ms-auto navbar-text actions" style="text-align: right;">
                    <a class="btn btn-light action-button" role="button" href="/teacher/login/" style="color: rgba(0,0,0,0.9);background: var(--bs-gray-200);border-radius: 10px;border-style: solid;border-color: rgba(0,0,0,0.9);font-size: 16px;padding: 5px 8px;">Logout</a></p>
            </div>
        </div>
    </nav>
</div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>