<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>StudentDBM</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkalami&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asset&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Advanced-NavBar---Multi-dropdown.css">
    <link rel="stylesheet" href="/assets/css/Billing-Table-with-Add-Row--Fixed-Header-Feature.css">
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Collapsible-Sidebar.css">
    <link rel="stylesheet" href="/assets/css/Dark-Mode-Switch.css">
    <link rel="stylesheet" href="/assets/css/FORM.css">
    <link rel="stylesheet" href="/assets/css/Gamanet_Sidebar_bs5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Box-En-login-box-en.css">
    <link rel="stylesheet" href="/assets/css/login-form-styles.css">
    <link rel="stylesheet" href="/assets/css/login-form.css">
    <link rel="stylesheet" href="/assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="/assets/css/Ludens---Create-Edit-Form.css">
    <link rel="stylesheet" href="/assets/css/Ludens---Dark-Mode-Admin-Dashboard.css">
    <link rel="stylesheet" href="/assets/css/Modern-Contact-Form.css">
    <link rel="stylesheet" href="/assets/css/Multi-step-form.css">
    <link rel="stylesheet" href="/assets/css/MUSA_form-wizard-form-wizard.css">
    <link rel="stylesheet" href="/assets/css/MUSA_form-wizard.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Login-Form-.css">
    <link rel="stylesheet" href="/assets/css/Responsive-Active-Navbar.css">
    <link rel="stylesheet" href="/assets/css/select.css">
    <link rel="stylesheet" href="/assets/css/side-menu.css">
    <link rel="stylesheet" href="/assets/css/sidebar-1-style4.css">
    <link rel="stylesheet" href="/assets/css/sidebar-1.css">
    <link rel="stylesheet" href="/assets/css/Sidebar-navbar.css">
    <link rel="stylesheet" href="/assets/css/SIdebar-Responsive-2-ResponsiveSideBar-2.css">
    <link rel="stylesheet" href="/assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="/assets/css/Sidebar.css">
    <link rel="stylesheet" href="/assets/css/Soft-UI-Aside-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Ultimate-Sidebar-Menu-BS5.css">
    <link rel="stylesheet" href="/assets/css/Vertical-Left-SideBar-by-Jigar-Mistry.css">
    <link rel="stylesheet" href="/assets/css/zectStudio---Sidebar-Menu-by-bbbootstrap.css">
</head>

<body style="padding-left: 0px;padding-right: 0px;margin-top: 0px;">
<div th:replace="LatestFragment.html :: registration"></div>
    <div class="card" style="margin-top: 50px;">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6">
                        <h3 class="text-dark mb-4" style="font-family: Adamina, serif;font-weight: bold;">Teacher Registration</h3>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 text-end" style="margin-bottom: 30px;"><a class="btn btn-primary" role="button" data-bs-target="#teachermodel" data-bs-toggle="modal"><i class="fa fa-user-plus"></i>New</a></div>
                </div>
                <div class="card" id="TableSorterCard">
                    <div class="card-header py-3">
                        <div class="row table-topper align-items-center">
                            <div class="col-12 col-sm-5 col-md-6 text-start" style="margin: 0px;padding: 5px 15px;"><input class="border rounded" type="search" placeholder="Search" name="tsearch" style="padding-left: 10px;"></div>
                            <div class="col-12 col-sm-7 col-md-6 text-end" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="margin: 2px;"><i class="fa fa-print"></i>Print</button><button class="btn btn-warning btn-sm" id="zoom_in" type="button" zoomclick="ChangeZoomLevel(-10);" style="margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out" type="button" zoomclick="ChangeZoomLevel(-10);" style="margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table tablesorter" id="ipi-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-center">Id</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Department</th>
<!--                                            <th class="text-center">Subject</th>-->
                                            <th class="text-center filter-false sorter-false">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <<tr th:each="teach : ${teacherList}">
                                            <td th:text="${teach.id}">Ana</td>
                                            <td th:text="${teach.name}">Diseñador</td>
                                            <td th:text="${teach.department}">Diseñador</td>
                                            <td class="text-center align-middle" style="max-height: 60px;height: 60px;"><a class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover" role="button" style="margin-left: 5px;"   th:href="@{/tech/delete/{id}/(id = ${teach.id})}"><i class="fas fa-trash btnNoBorders" style="color: #DC3545;"></i></a>
                                                <div class="modal fade" role="dialog" tabindex="-1" id="teachermodel" style="width: 500px;">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" style="font-family: Adamina, serif;font-weight: bold;">Teacher Registration</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row login-form">
                                                                    <div class="col-md-4 offset-md-4" style="margin-left: 50px;">
                                                                        <form method="post" action="/teacherdata/" class="custom-form" style="width: 350px;">
                                                                            <div class="form-group mb-3"><input class="form-control" type="text" placeholder="Teacher Name" name="name" required=""></div>
                                                                            <div class="form-group mb-3"><label class="form-label mb-0" for="float-input">Department</label>
                                                                                <select class="form-select" name="department" required="">
                                                                                        <option th:each="dept : ${departmentList}"
                                                                                                th:value="${dept.deptname}" th:text="${dept.deptname}" selected="">

                                                                                        </option>

                                                                                    </select>
                                                                                </select></div>
<!--                                                                            <div class="form-group mb-3"><label class="form-label mb-0" for="float-input">Subject</label><select class="form-select">-->
<!--                                                                                    <optgroup label="This is a group">-->
<!--                                                                                        <option value="12" selected="">This is item 1</option>-->
<!--                                                                                        <option value="13">This is item 2</option>-->
<!--                                                                                        <option value="14">This is item 3</option>-->
<!--                                                                                    </optgroup>-->
<!--                                                                                </select></div>-->
                                                                            <div class="form-group mb-3"><input class="form-control" type="text" placeholder="Username" name="username" required="" pattern="^[A-Za-z][A-Za-z0-9_]{7,29}$"></div>
                                                                            <div class="form-group mb-3"><input class="form-control" type="password" placeholder="Password" name="password" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></div>
                                                                            <div class="form-group mb-3"><input class="form-control" type="password" placeholder="Confirm Password" name="password2" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></div><button class="btn btn-light d-block submit-button w-100" type="submit" style="background: var(--first-color);">Submit&nbsp;</button><button class="btn btn-light d-block submit-button w-100" type="reset" style="background: var(--bs-btn-active-border-color);">Reset</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-lg-flex justify-content-lg-center" style="margin-top: 20px;">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/Advanced-NavBar---Multi-dropdown-main.js"></script>
    <script src="/assets/js/Billing-Table-with-Add-Row--Fixed-Header-Feature-Billing-Table-with-Add-Row--Fixed-Header.js"></script>
    <script src="/assets/js/Collapsible-Sidebar-Sidebar.js"></script>
    <script src="/assets/js/Dark-Mode-Switch-darkmode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---1-Index-Table-with-Search--Sort-Filters.js"></script>
    <script src="/assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---Material-UI-Actions.js"></script>
    <script src="/assets/js/Ludens---Dark-Mode-Admin-Dashboard-Ludens---Sleek-Image-Input-with-Preview.js"></script>
    <script src="/assets/js/Ludens---Dark-Mode-Admin-Dashboard-main.js"></script>
    <script src="/assets/js/Ludens---Dark-Mode-Admin-Dashboard-modalDelete.js"></script>
    <script src="/assets/js/Ludens---Dark-Mode-Admin-Dashboard-theme.js"></script>
    <script src="/assets/js/Multi-step-form-script.js"></script>
    <script src="/assets/js/MUSA_form-wizard-form-wizard.js"></script>
    <script src="/assets/js/Responsive-Active-Navbar-script.js"></script>
    <script src="/assets/js/Ultimate-Sidebar-Menu-BS5-ninjasidebar.js"></script>
    <script src="/assets/js/zectStudio---Sidebar-Menu-by-bbbootstrap-sidemenu.js"></script>
</body>

</html>